@import 'tailwindcss';

@layer base {
  * {
    -webkit-touch-callout: none;
  }
  
  body {
    margin: 0;
    overscroll-behavior-y: contain;

    user-select: none;
    -webkit-user-select: none;
  }
}
